.peach {
	background-color: #E9A974;
	height: 100vh;
	overflow: auto;
	h2 {
    font-family: "Bratsy";
    font-size: 64px;
		margin-top: 8px;
		text-align: center;
    padding: 16px;
    color: #F1DDB3;
		text-shadow: 2px 2px rgba(102, 21, 41, 0.5);
  }
  h3 {
    font-family: "Prisma";
    color: #651429;
    font-weight: 1000;
    text-shadow: 2px 2px rgba(102, 21, 41, 0.5);
  }
}
.cover-square {
	width: 120px;
	height: 120px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
	margin: 0px 40px;
}

.grid-item {
	display: flex;
	height: 320px;
	overflow: scroll;
	border: 4px solid white;
	background-color: #F0DCB3;
	border-radius: 25px;
	padding: 20px;
	margin: 8px;
		ul {
			list-style: none;
		}
		li {
			margin: 8px;
		}
}

#item1 {
	height: 240px;
	overflow-x: scroll;
}

.grid-card {
	display: flex;
	align-items: center;
		album-cover {
			margin: 16px;
		}
		album-details {
			padding: 16px;
			margin-left: 16px;
		}
		album-status {
			display: flex;
		}
		p {
			margin-bottom: 0;
		}
}

#collection {
	border: 4px solid white;
	border-radius: 25px;
	padding: 20px;
	margin: 8px 56px;
	height: 200px;
	overflow-x: scroll;
	background-color: #F0DCB3;
		h3 {
			color: #651429;
			font-weight: bold;
			text-shadow: 2px 2px rgba(102, 21, 41, 0.5);
		}
		li {
			margin: 4px;
		}
}

.pending-color {
  color: orange;
}
.declined-color {
  color: red;
}
.confirmed-color {
  color: green;
}
