// Specific CSS for your home-page
.home-backgorund {
  background-image: image-url('v1.png');
  width: 100vw;
  height: calc(100vh - 66px);
  background-size: cover;
  position: relative;
  h1 {
    color: #262626;
    font-family: 'bratsy';
    font-size: 140px;
    padding: 84px 32px 32px 106px;
    // -webkit-text-stroke: 2px black;
    text-shadow: 8px 8px white;
    // text-shadow: -2px -2px black;
  }
}
.home-backgorund-second {
  background-image: image-url('v3.png');
}
.home-btn {
  position: absolute;
  left: 120px;
  bottom: 164px;
  background-color: #661529;
  color: #F2DEB3;
  padding: 25px 25px;
  border-radius: 30px;
  font-size: 25px;
}
.home-btn:hover {
  text-decoration: none;
  background-color: #CE4530;
  transition: 1s;
  color: #F2DEB3;
}
