@font-face {
  font-family: 'prisma';
  src: asset_url('Monoton-Regular.ttf');
}
@font-face {
  font-family: 'bratsy';
  src: asset_url('Bratsy-Script.ttf');
}

.show-background {
  background-color: #E9A974;
  h3, h2{
  font-family: 'Space Grotesk', sans-serif;

}
}
.show {
  display: flex;
  justify-content: space-between;
}

.rental-section {
  width: 520px;
  margin-top: 96px;
  h1 {
    font-family: 'prisma';
  }
}

#disc {
  margin-top: 48px;
  background-image: image-url('image.png');
  background-size: cover;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  position: relative;
}
#cover {
  position: absolute;
  top: 122px;
  left: 125px;
}
.round {
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

#disc-sm {
  background-image: image-url('image.png');
  background-size: cover;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  position: relative;
}
#cover-sm {
  position: absolute;
  top: 40px;
  left: 41px;
}
.round-sm {
  border-radius: 50%;
  width: 82px;
  height: 82px;
}
.intro {
  margin-bottom: 16px;
}
