@font-face {
  font-family: "prisma";
  src: asset_url("Monoton-Regular.ttf");
}

@font-face {
  font-family: "bratsy";
  src: asset_url("Bratsy-Script.ttf");
}

.show-background {
  background-color: #e9a974;
  overflow: auto;
  height: 100vh;
  h3,
  h2,
  p {
    font-family: "Space Grotesk", sans-serif;
  }
}
.show {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.intro {
  width: 25%;
  h1 {
    font-family: "prisma";
  }
  margin-bottom: 16px;
}
#rental-form {
  padding: 0;
  width: 100%;
  h4 {
    font-family: "Space Grotesk", sans-serif;
  }
}
.long-btn {
  width: 140px;
}
.form-section {
  width: 25%;
}
#disc {
  background-image: image-url("image.png");
  background-size: cover;
  border-radius: 50%;
  width: 420px;
  height: 420px;
  position: relative;
  filter: drop-shadow(-3px -3px 10px rgba(58, 39, 25, 0.3))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2))
    drop-shadow(15px 15px 25px rgba(0, 0, 0, 0.4));
}
#cover {
  position: absolute;
  top: 103px;
  left: 105px;
}
.round {
  border-radius: 50%;
  width: 218px;
  height: 218px;
}
#disc-sm {
  background-image: image-url("image.png");
  background-size: cover;
  border-radius: 50%;
  width: 155px;
  height: 155px;
  position: relative;
  filter: drop-shadow(-3px -3px 5px rgba(58, 39, 25, 0.3))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2))
    drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}
#cover-sm {
  position: absolute;
  top: 38px;
  left: 39px;
}
.round-sm {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.owner-collection {
  background-color: #e9a974;
  h2 {
    margin-left: 24px;
  }
  h3 {
    color: #651429;
    font-weight: bold;
    text-shadow: 2px 2px rgba(102, 21, 41, 0.5);
    padding-left: 96px;
  }
}
.collection {
  overflow: auto;
  white-space: nowrap;
  a {
    display: inline-block;
  }
}

@media only screen and (max-width: 767px) {
  .show {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #disc {
    width: 369px;
    height: 369px;
    margin: 0 auto;
  }
  #cover {
    top: 92px;
    left: 93px;
  }
  .round {
    width: 190px;
    height: 190px;
  }
  .intro {
    width: 100%;
    padding: 8px 16px 0 16px;
    margin: 0;
    h1 {
      font-size: 32px;
    }
    h3 {
      font-size: 24px;
    }
  }
  .long-btn {
    width: 35%;
  }
  .form-section {
    width: 100%;
    margin-bottom: 16px;
  }
  .owner-collection {
    background-color: #e9a974;
    h2 {
      margin-left: 16px;
      font-size: 24px;
    }
  }
  #disc-sm {
    width: 120px;
    height: 120px;
  }
  #cover-sm {
    top: 30px;
    left: 31px;
  }
  .round-sm {
    width: 60px;
    height: 60px;
  }
  #rental-form {
    padding: 16px;
    width: 85%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .show {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #disc {
    width: 369px;
    height: 369px;
    margin: 0 auto;
  }
  #cover {
    top: 92px;
    left: 93px;
  }
  .round {
    width: 190px;
    height: 190px;
  }
  .intro {
    width: 100%;
    padding: 8px 16px 0 16px;
    margin: 0;
    h1 {
      font-size: 32px;
    }
    h3 {
      font-size: 24px;
    }
  }
  .long-btn {
    width: 35%;
  }
  .form-section {
    width: 100%;
    margin-bottom: 16px;
  }
  .owner-collection {
    background-color: #e9a974;
    h2 {
      margin-left: 16px;
      font-size: 24px;
    }
  }
  #disc-sm {
    width: 120px;
    height: 120px;
  }
  #cover-sm {
    top: 30px;
    left: 31px;
  }
  .round-sm {
    width: 60px;
    height: 60px;
  }
  #rental-form {
    padding: 16px;
    width: 50%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
}
