.navbar-lewagon {
  justify-content: space-between;
  background: #651429;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.btn {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.nav-link {
  a {
    color: #f1dfb2;
  }
}
